body {
  max-width: 1280px;
  margin: auto;
}

@keyframes card-fade-in {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.will-wrap {
  flex-wrap: wrap;
  flex-direction: row;
}

.fadeIn-enter {
  opacity: 0;
  transition: 0.05s ease-in-out all;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
}

.column-width-adjust {
  padding: 1rem 4rem;
}
