body {
  max-width: 1280px;
  margin: auto;
}

@keyframes card-fade-in {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

.will-wrap {
  flex-wrap: wrap;
  flex-direction: row;
}

.fadeUp {
  animation-name: card-fade-in;
  animation-duration: 0.75s;
}

.column-width-adjust {
  padding: 1rem 4rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-adjustment {
  height: 172px;
  max-height: 172px;
  width: auto;
}
